{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}

  <!-- Chargement de FullCalendar CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css"
    integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
  <!-- Chargement de Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>

    body {
        font-family: 'Roboto', sans-serif;
    }

    body {
        background-color: #F9F9F9;
        display: block;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
    }

    .bg-nav {
        background-color: #333333;
        padding: 1%;
    }

    .logo {
        width: 15rem;
    }

    .nav-link {
        margin-left: 1.5rem;
        font-size: 20px;
        color: #EA5B0C;
    }

    .nav-link:hover {
        color: #F45C07;
        text-shadow: 4px 4px 10px rgba(255, 91, 0, 0.6);
        transition: all 0.5s ease-in-out;
    }

    .nav-link:focus {
        color: #F45C07;
    }

    #calendrier {
        width: 80%;
        height: 80%;
        margin: auto;
        margin-top: 3rem;
        border: 0.4rem solid #333333;
        padding: 1rem;
        border-radius: 1rem;
    }

    :root {
        --fc-small-font-size: .85em;
        --fc-page-bg-color: #fff;
        --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
        --fc-neutral-text-color: #808080;
        --fc-border-color: #ddd;

        --fc-button-text-color: #fff;
        --fc-button-bg-color: #E95B0C;
        --fc-button-border-color: #E95B0C;
        --fc-button-hover-bg-color: #F45C07;
        --fc-button-hover-border-color: #F45C07;
        --fc-button-active-bg-color: #E95B0C;
        --fc-button-active-border-color: #E95B0C;

        --fc-today-bg-color: #909293;
    }

    .fc-button.fc-today-button {
        background-color: var(--fc-today-bg-color);
        border-color: var(--fc-today-bg-color);
        color: #fff;
    }

    .fc-button.fc-today-button:hover {
        background-color: var(--fc-button-hover-bg-color);
        border-color: var(--fc-button-hover-border-color);
        color: #fff;
    }

    .fc-button.fc-today-button:focus {
        background-color: var(--fc-button-active-bg-color);
        border-color: var(--fc-button-active-border-color);
        color: #fff;
    }

    .fc-event {
        text-align: center;
        font-weight: bold;
    }
    
    .fc-col-header-cell-cushion{
        color: #E95B0C;
    }



    @media screen and (max-width: 768px) {
        #calendrier {
            width: 100%;
        }

        .fc-today-button {
            position: relative;
            left: -11px;
        }

    }

    @media screen and (max-width: 797.60px) {
        .nav-link {
            margin-left: 0;
        }
    }

    @media screen and (max-width: 750px) {
        .nav-link {
            margin-left: 0;
            font-size: 1rem;
        }

    }


    @media screen and (min-width: 768px) and (max-width: 1024px) {
        #calendrier {
            width: 80%;
        }
    }

</style>
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg bg-nav">
  <div class="container-fluid d-flex align-items-center justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="https://alliance-digital.fr/wp-content/uploads/2021/09/Alliance-Digital-Logo-teste-2.png" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto flex-column flex-sm-row text-center">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CCalendarCrudController">Ajout Taches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CUserCrudController">Ajout Utilisateurs</a>
        </li>
        {% endif %}
        {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

    {% if app.user %}
    <div id="calendrier">
    </div>
    {% else %}
    <h1> CONNECTEZ VOUS POUR ACCEDER AU CALENDRIER </h1>
    {% endif %}

    <!-- Définition de la carte Bootstrap pour afficher les informations de l'événement -->
    <div class="card position-fixed" style="top: 100px; right: 50px; z-index: 999; width: 18rem; display: none;">
    <div class="card-header">
        Informations de l'événement
    </div>
    <div class="card-body">
        <h5 class="card-title" id="eventTitle"></h5>
        <p class="card-text" id="eventDescription"></p>
        <p class="card-text" id="eventStart"></p>
        <p class="card-text" id="eventEnd"></p>
    </div>
    </div>





{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" 
integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
<script>
window.onload = () => {
    let calendarElt = document.querySelector('#calendrier');

    let calendar = new FullCalendar.Calendar(calendarElt, {
        initialView: 'timeGridWeek',
        locale: 'fr',
        timeZone: 'Europe/Paris',
        headerToolbar: {
            start: 'prev,next today',
            center: 'title',
            end: 'dayGridMonth,timeGridWeek'
        },
        buttonText: {
            today : 'Aujourd\'hui',
            month: 'Mois',
            week: 'Semaine',
            list: 'Liste'
        },
        slotMinTime: '08:00:00',
        slotMaxTime: '22:00:00',
        allDayText: 'Jour',
        allDaySlot: true,
        editable: true,
        eventResizableFromStart: true,
        events: {{ data|raw }}
    })

    calendar.on('eventClick', (e) => {
        window.location.href = `/calendar/${e.event.id}/edit`;
    });

    calendar.on('eventChange', (e) => {
        let url = `/api/${e.event.id}/edit`
        let donnees = {
            "title": e.event.title,
            "description": e.event.extendedProps.description,
            "start": e.event.start,
            "end": e.event.end,
            "backgroundColor": e.event.backgroundColor,
            "borderColor": e.event.borderColor,
            "textColor": e.event.textColor,
            "allDay": e.event.allDay
        }

        donnees.allDay = donnees.allDay ? "Jour-Entier" : "";

        let xhr = new XMLHttpRequest();

        xhr.open("PUT", url)
        xhr.send(JSON.stringify(donnees))

    })

    calendar.render()
}
    </script>
{% endblock %}