{% extends 'base.html.twig' %}

{% block title %}Modifier un événement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: #333333;
        }
        .card {
            margin-top: 50px;
            background-color: #FFFFFF;
            max-width: 800px; /* set a maximum width for the card */
            margin-left: auto; /* center the card horizontally */
            margin-right: auto;
        }
        .card-header a {
            color: #E95B0C;
        }
        .btn{
            background-color: #E95B0C;
            color : #FFFFFF;
        }
        .btn:hover{
            background-color: #E95B0C;
            color : #FFFFFF;
        }
        .btn{
            display: block;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg" style="background-color: #333333;">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <button type="button" class="btn btn-lg" style="background-color: #EA5B0C; color: #FFFFFF;">Accueil</button>
            </a>
        </nav>

        <div class="card">
            <div class="card-header" style="background-color: #E95B0C;">
                <h1 style="color: #FFFFFF;">Modifier un événement</h1>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_label(form.fait) }}
                {{ form_widget(form.fait, { 'attr': {'class':  'fait'} }) }}

                <button type="submit" class="btn">Enregistrer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
