{% extends 'base.html.twig' %}

{% block title %}Modifier tâche{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg" style="background-color: #333333;">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <button type="button" class="btn btn-lg" style="background-color: #EA5B0C; color: #FFFFFF;">Accueil</button>
            </a>
        </nav>

        <div class="card">
            <div class="card-header" style="background-color: #E95B0C;">
                <h1 style="color: #FFFFFF;">Modifier tâche</h1>
            </div>
            <div class="card-body">
                <form id="update-form">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3" required>{{ calendar.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="start">Date de début</label>
                        <input type="datetime-local" class="form-control" id="start" value="{{ calendar.start ? calendar.start|date('Y-m-d\TH:i:s') : '' }}" required>
                    </div>
                    <div class="form-group">
                        <label for="end">Date de fin</label>
                        <input type="datetime-local" class="form-control" id="end" value="{{ calendar.end ? calendar.end|date('Y-m-d\TH:i:s') : '' }}" required>
                    </div>
                    <button type="submit" class="btn" id="btn-update">Modifier</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const updateForm = document.getElementById('update-form');
        const btnUpdate = document.getElementById('btn-update');
        btnUpdate.addEventListener('click', async (event) => {
            event.preventDefault();
            const response = await fetch('{{ path('update_calendar', {id: calendar.id}) }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    description: document.getElementById('description').value,
                    start: document.getElementById('start').value,
                    end: document.getElementById('end').value
                })
            });

            if (response.ok) {
                // Mise à jour réussie, rediriger vers la page de la tâche
                window.location.href = '{{ path('calendar_show', {id: calendar.id}) }}';
            } else {
                // Gérer les erreurs
                console.error('Impossible de modifier la tâche.');
            }
        });
    </script>
{% endblock %}
