{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<style>

body{
    background-color: #333333;
}

.my-btn {
  background-color: #EA5B0C;
  display: block;
  margin: 0 auto;
  border-color: #EA5B0C;
}

.my-btn:hover{
  background-color: #EA5B0C;
  display: block;
  margin: 0 auto;
  border-color: #EA5B0C;
}

.form-group label {
    color: #333333;
    font-size: 1rem;
}

.form-control {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #333333;
    font-size: 1rem;
}

.form-control:focus {
    border: none;
    color: #ffffff;
    box-shadow: 0 0 0 2px #EA5B0C;
}

.form-check-input:checked {
    background-color: #EA5B0C;
    border-color : #EA5B0C;
}

@media screen and (max-width: 600px) { /* Ajout pour prendre toute la hauteur */
    .card {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .card-body {
        margin: 60px;
    }
}

</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4" style="color:#333333">Inscription</h3>
                    {{ form_start(registrationForm) }}
                        <div class="form-group mb-3">
                            {{ form_label(registrationForm.username, 'Nom d\'utilisateur') }}
                            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group mb-3">
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group form-check mb-3">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.agreeTerms, 'Accepter les termes et conditions', {'label_attr': {'class': 'form-check-label', 'style': 'color:#333333'}}) }}
                        </div>

                        <button type="submit" class="btn btn-primary btn-block my-btn">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}