{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block body %}

<style>

body{
    background-color: #333333;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%; /* Ajout pour prendre toute la largeur */
}

.my-btn {
  background-color: #EA5B0C;
  display: block;
  margin: 0 auto;
  border-color: #EA5B0C;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.my-btn:hover{
  background-color: #EA5B0C;
  display: block;
  margin: 0 auto;
  border-color: #EA5B0C;
}

.form-control {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #333333;
    font-size: 1rem;
}

.form-control:focus {
    border: none;
    box-shadow: 0 0 0 2px #EA5B0C;
}

.form-check-input:checked {
    background-color: #EA5B0C;
    border-color : #EA5B0C;
}

.form-check-input:focus {
    background-color: #EA5B0C;
    border-color : #EA5B0C;
}
@media screen and (max-width: 600px) { /* Ajout pour prendre toute la hauteur */
    .card {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .card-body {
        margin: 60px;
    }
}

</style>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Connexion</h3>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            {% endif %}

                            <div class="form-group mb-3">
                                <label for="inputUsername">Nom d'utilisateur</label>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                            </div>

                            <div class="form-group mb-3">
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-group form-check mb-3">
                                <input class="form-check-input" type="checkbox" name="_remember_me" id="rememberMe"  checked>
                                <label class="form-check-label" for="_remember_me">
                                    Se souvenir de moi
                                </label>
                            </div>

                            <button class="btn btn-primary btn-block my-btn" type="submit">Connexion</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
